* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #121212;
  color: #e0e0e0;
  text-align: center;
}

h1 {
  font-family: "Agu Display", serif;
  font-size: 2.5rem;
  margin: 40px;
  color: #efefef;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.card {
  background: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  width: 300px;
  padding: 40px 20px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card .title {
  margin-bottom: 20px;
  font-family: Amaranth, serif;
  font-size: 2rem;
  color: #efefef;
}

.card .btn {
  display: inline-block;
  font-family: "Amaranth", serif;
  margin-top: 10px;
  padding: 10px 15px;
  background: #007bff;
  color: #efefef;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}
.card .btn:hover {
  background: #0056b3;
  transform: translateY(-2px);
}

.card:hover {
  background-color: #252424;
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.9);
}
